@{
    ViewData["Title"] = "Добре дошли";
    
    Layout = "_UserLayout";

}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
  <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Услуги</h2>
          <p>Модерната ни система предлага иновативни решения за лесното управление на етажната собственост.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Прозрачност</a></h4>
              <p>Нашата система информира всяка страна за ежемесечното събиране на такси.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Лесен достъп</a></h4>
              <p>Чрез вашият профил в системата, вие получавате лесен достъп до най-важната информация свързана с етажната собственост.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Улеснена администрация</a></h4>
              <p>Системата ни е разделена на три роли - член на домакинство, касиер и домоуправител.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Лесна комуникация</a></h4>
              <p>Всеки регистриран потребител има възможност да общува със своя касиер и домоуправител в удобно за него време.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
 <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Цени</h2>
         @* <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Мини</h3>
              <h4>20<sup> лева</sup><span>на месец</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Подходящ за малки блокове с до 12 апартамента на вход</li>
                @*<li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>*@
              </ul>
              <a href="#" class="buy-btn">Поръчай</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Обикновен</h3>
              <h4>30<sup> лева</sup><span>на месец</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Подходящ за входове с до 20 апартамента</li>
               @* <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>*@
              </ul>
              <a href="#" class="buy-btn">Поръчай</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Голям</h3>
               <h4>35<sup> лева</sup><span>на месец</span></h4>
              <ul>
                <li><i class="bx bx-check"></i>Подходящ за входове с до 25 апартамента</li>
               @* <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>*@
              </ul>
              <a href="#" class="buy-btn">Поръчай</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->
